[gui]

[user]
	name = Josh Peak
	email = neozenith.dev@gmail.com
[core]
	excludesfile = /Users/neozenith/.gitignore_global
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[color]
  ui = true
  diff = auto
  branch = auto
  status = auto
[alias]
  # http://stackoverflow.com/a/9074343
  tree2 = log --pretty=format:\"%C(bold blue)%h%x09%C(bold green)[%ad] %C(auto)%d%n%C(dim white)%an - %C(reset)%x20%s\" --graph --full-history --all --date=relative 
  tree = !"git tree2"
  t = !"git tree2"

[http "https://entrance.c-esolutions.com.au"]
  sslVerify = true
  sslCert = /Users/neozenith/keys/joshpeakcert.pem
  sslCAPath = /Users/neozenith/keys/
  sslCAInfo = /Users/neozenith/keys/isca.crt
  sslCertPasswordProtected = 0
