[gui]

[user]
	name = Josh Peak
	email = neozenith.dev@gmail.com
[core]
	excludesfile = /Users/neozenith/.gitignore_global
	editor = vim

	# Set tab stop of git diff from 8 to 2
	# https://stackoverflow.com/a/24846248/622276
	pager = sed 's/\t/  /g' | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[merge]
	tool = opendiff
  conflictstyle = diff3
  backup = false
[mergetool]
	prompt = false
[color]
  ui = true
  diff = auto
  branch = auto
  status = auto
[alias]
  # http://stackoverflow.com/a/9074343
  tree = log --pretty=format:\"%C(bold blue)%h%x09%C(bold green)[%ad] %C(auto)%d%n%C(dim white)%an - %C(reset)%x20%s\" --graph --full-history --all --date=relative 
  t = !"git tree2"
  
  st = status -u --ignore-submodules
  br = branch -vv
  d = diff -v --color-words
  f = fetch -v --tags --prune
  br = branch
  co = checkout
  cl = clone
	cm = commit
	lola = log --graph --oneline --decorate --all --abbrev-commit
	lol = log --graph --oneline --decorate  --abbrev-commit
[credentials]
  helper = osxkeychain

[credentials "https://github.com"]
	username = neozenith
[credentials "https://gitlab.com"]
	username = neozenith
[credentials "tools.cloudsenseltd.com"]
  username = jpeak
