# Vim Cruft
*.swp
.vim/.netrwhist
.vim/autoload/
.vim/bundle
.vim/plugged
.vim/undodir
tags*
gems.tags
*.log

# Vagrant Linux Test box
.vagrant

# Windows temporary files
*.*~
# OSX temporary files
**/*.DS_Store
.vscode/*
.py*_cache/*

# Sensitive
**/aliases_work.sh
.gitconfig.work
zsh/plugins/
